body {
  margin: 0;
  padding: 0;
  background-color: #ba1728;
  font-family: "Roboto", sans-serif;

  color: #fff;
}

a {
  text-decoration: none;
  color: white;
}

.body-wrapper {
  display: flex;
  justify-content: center;
}

.container {
  width: 428px;
  align-items: center;
}

.logo-holder {
  justify-content: center;
  display: flex;
  margin: 20px 0 70px 0;
}

.about {
  padding-top: 10px;
  background: url(./assets/background.svg) no-repeat;
}

.about .title {
  text-align: center;
  font-size: 17px;
}

.about .about-form {
  display: flex;
  flex-direction: column;
  padding: 0 40px;
  justify-content: center;
}

.about .about-form input {
  padding: 19px;
  border-radius: 8px;
}

.about .about-form label {
  padding: 5px;
  font-size: 13px;
}

.rating {
  padding: 0 50px;
}

.rating .emojis {
  display: flex;
  justify-content: flex-end;
  gap: 28px;
  width: 281px;
}

.rating .services {
  display: flex;
  justify-content: space-around;
  margin: auto;
}

.rating .services .service-title {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 78px;
}

.rating .services .radios {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;
}

.comments {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.comments textarea {
  padding: 20px;
  border-radius: 8px;
  height: 136px;
}

.submit {
  display: flex;
  justify-content: center;
  padding: 20px;
}
button {
  font-size: 18px;
  padding: initial;
  font-weight: bolder;
}
.submit button {
  border-radius: 8px;
  height: 50px;
  width: 305px;
  text-align: center;
  background-color: #2d789f;
  color: white;
  border: none;
}

.submit button:hover {
  cursor: pointer;
}

.home {
  background: url(./assets/background2.svg) no-repeat;
  height: 557px;
}

.home .btns-wrapper {
  padding-top: 68px;
}

.home .btns-wrapper .submit {
  display: flex;
  justify-content: center;
  padding: 0 0 17px 0;
}
input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  position: relative;
  cursor: pointer;
  background-color: white;
  transition: background-color 0.2s ease, border-color 0.2s ease;
}

/* Style the checkbox when it's checked */
input[type="checkbox"]:checked {
  background-color: #efb91c; /* Change the background to yellow */
  border-color: #efb91c; /* Optional: change the border color to match */
}

/* Optional: Adding a checkmark icon */
input[type="checkbox"]:checked::before {
  content: "✔"; /* Adds checkmark symbol */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 12px;
}

.img2 {
  max-width: 100%;
  max-height: 100%;
  min-width: 200px;
  min-height: 200px;
}

.container2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: black;
}
